@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:wght@500&family=Teko:wght@300&display=swap");

.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(0.6);
}

.logo {
  width: 70px;
}

.navbar {
  transition: all 0.5s;
}

.navbar-scrolled {
  background-color: black;
  box-shadow: 0ps 3px 10px black;
}

.banner-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 180px;
  transition: all 0.5s;
}

.banner-desc {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  transition: all 0.5s;
}

.banner-paraf {
  /* margin-bottom: 600px; */
  height: 90vh;
}

.see-more {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  font-size: 1.2em;
  width: 15rem;
  height: 3.5rem;
  background-color: black;
  color: white;
  text-transform: capitalize;
}

.see-more:hover {
  background-color: transparent;
  color: black;
  font-weight: 600;
  transition: all 0.5s;
}

.about-us {
  font-family: "Poppins", sans-serif;
}

.about-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  margin-bottom: 5rem;
}

.about-img img {
  height: 600px;
}

.about-paraf p {
  font-size: 1.1em;
  font-weight: 500;
  margin-top: 2rem;
}

.review-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  margin-top: 5rem;
}

.review-detail {
  margin-top: 2rem;
}

.reservation-btn button {
  font-family: "Poppins", sans-serif;
  width: 25rem;
  height: 3.5rem;
  font-size: 1.2em;
  text-transform: capitalize;
  background-color: transparent;
}

.reservation-btn button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

@media screen and (max-width: 1200px) {
  .about-paraf p {
    font-size: 1em;
    font-weight: 500;
    margin-left: 20px;
  }

  .carousel-inner {
    width: 25rem;
  }
}

@media screen and (max-width: 992px) {
  .carousel-inner {
    width: 30rem;
    margin-left: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .banner-paraf {
    text-align: center;
  }

  .banner-title {
    margin-top: 150px;
  }

  .carousel-inner {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .banner-paraf {
    text-align: center;
  }

  .banner-title {
    margin-top: 120px;
  }

  .banner-desc {
    margin-top: 20px;
    font-size: 1.5em;
  }

  .about-title {
    margin-top: 20px;
  }

  .carousel-inner {
    display: none;
  }

  .about-paraf {
    margin-top: -5em;
  }

  .about-paraf p {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
  }

  .about-paraf3 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .about-paraf2 {
    display: none;
  }

  .card-first {
    display: none;
  }
}
